<h1>New game</h1>

<ul class="list-inline">
  <% @letters.each do |letter| %>
    <li class="text-center"><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word you can find ?</p>
<div class="container">
  <form action="score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row">
      <div class="col-xs-9" style="padding-right: 0;">
        <input type="text" name="new" class="form-control">
      </div>
      <div class="col-xs-3 " style="padding-left: 0;">
        <input type="submit" value="Play" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
